<p id="notice"><%= notice %></p>

<h3>Products</h3>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>ASIN</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Factory Price</th>
      <th>Dimensions</th>
      <th>Weight(kg)</th>
      <th>HSN</th>
      <th>Target Selling Price</th>
      <th>Launch Price</th>
      <th>Rank Units</th>
      <th>ROI</th>
      <th>Profit Margin</th>
      <th>Master Carton Units</th>
      <th>Target Daily Sales</th>
      <th>Mfg time days</th>
      <th>Ship to AMZ (d)</th>
      <th>Tarrif Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.asin %></td>
        <td><%= product.description %></td>
        <td><%= product.photo_url %></td>
        <td><%= product.factory_price %></td>
        <td><%= product.dimension %></td>
        <td><%= product.weight_kg %></td>
        <td><%= product.target_selling_price %></td>
        <td><%= product.launch_price %></td>
        <td><%= product.units_needed_to_rank %></td>
        <td><%= product.units_per_master_carton %></td>
        <td><%= product.target_sales_per_day %></td>
        <td><%= product.mfg_time_days %></td>
        <td><%= product.ship_to_amz_days %></td>
        <td><%= product.tarrif_rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
