<div class="row">
  <div class="col-md-10">
    <h3>Products</h3>
  </div>

  <div class="col-md-2">
    <%= link_to 'New Product', new_product_path, class: "float-right" %>
  </div>
</div>

<%= form_for_filterrific @filterrific, html: {class: "form-row"} do |f| %>
  <div class="col-3">
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed form-control',
      placeholder: 'Search'
    ) %>
  </div>
  <div class="col-md-3">
    <%= f.select( :with_stage,
      Product.stages,
      { include_blank: '- Product Stage -' },
      class: 'form-control'
    ) %>
  </div>
  <div class="col-md-3">
    <%= f.select(:sorted_by,
      Product.options_for_sorted_by,
      { include_blank: '- Sort By -' },
      class: "form-control"
      )%>
  </div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
      class: 'text-muted'
    ) %>
    <%= render_filterrific_spinner %>
<% end %>
<br><br>

<%= render(
  partial: 'products/list',
  locals: { products: @products }
) %>
<br>
