<p id="notice"><%= notice %></p>

<h3>Products</h3>
<%= link_to 'New Product', new_product_path %>

<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>ASIN</th>
      <th>Photo</th>
      <th>Description</th>
      <th>Factory Price</th>
      <th>Weight(kg)</th>
      <th>HSN</th>
      <th>Target Selling Price</th>
      <th>Launch Price</th>
      <th>Rank Units</th>
      <th>ROI</th>
      <th>Profit Margin</th>
      <th>Master Carton Units</th>
      <th>Target Daily Sales</th>
      <th>Mfg time days</th>
      <th>Ship to AMZ (d)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.asin, "https://amazon.in/dp/#{product.asin}", target: :blank %></td>
        <td><%= image_tag(product.photo_url, width: '120', alt: "Edit Entry") %></td>
        <td><%= link_to product.description, product_path(product) %></td>
        <td><%= product.factory_price %></td>
        <td><%= product.weight_kg %></td>
        <td></td>
        <td><%= product.target_selling_price %></td>
        <td><%= product.launch_price %></td>
        <td><%= product.units_needed_to_rank %></td>
        <td></td>
        <td></td>
        <td><%= product.units_per_master_carton %></td>
        <td><%= product.target_sales_per_day %></td>
        <td><%= product.mfg_time_days %></td>
        <td><%= product.ship_to_amz_days %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
