<p id="notice"><%= notice %></p>

<p>
  <strong>Asin:</strong>
  <%= @product.asin %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>No potos:</strong>
  <%= @product.no_potos %>
</p>

<p>
  <strong>Factory price:</strong>
  <%= @product.factory_price %>
</p>

<p>
  <strong>Dimension:</strong>
  <%= @product.dimension %>
</p>

<p>
  <strong>Weight kg:</strong>
  <%= @product.weight_kg %>
</p>

<p>
  <strong>Target selling price:</strong>
  <%= @product.target_selling_price %>
</p>

<p>
  <strong>Launch price:</strong>
  <%= @product.launch_price %>
</p>

<p>
  <strong>Units needed to rank:</strong>
  <%= @product.units_needed_to_rank %>
</p>

<p>
  <strong>Units per master carton:</strong>
  <%= @product.units_per_master_carton %>
</p>

<p>
  <strong>Target sales per day:</strong>
  <%= @product.target_sales_per_day %>
</p>

<p>
  <strong>Mfg time days:</strong>
  <%= @product.mfg_time_days %>
</p>

<p>
  <strong>Ship to amz days:</strong>
  <%= @product.ship_to_amz_days %>
</p>

<p>
  <strong>Tarrif rate:</strong>
  <%= @product.tarrif_rate %>
</p>

<p>
  <strong>Transaction fees:</strong>
  <%= @product.transaction_fees %>
</p>

<p>
  <strong>Target ppc tacos:</strong>
  <%= @product.target_ppc_tacos %>
</p>

<p>
  <strong>Inspection cost:</strong>
  <%= @product.inspection_cost %>
</p>

<p>
  <strong>Estimated unusable units perc:</strong>
  <%= @product.estimated_unusable_units_perc %>
</p>

<p>
  <strong>Other costs:</strong>
  <%= @product.other_costs %>
</p>

<p>
  <strong>Units needed to rank:</strong>
  <%= @product.units_needed_to_rank %>
</p>

<p>
  <strong>Inventory roll per year:</strong>
  <%= @product.inventory_roll_per_year %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
