<div class="row">
  <div class="col-md-6">
    <%= link_to 'Back', products_path %>
  </div>
  <div class="col-md-6 ">
    <%= link_to 'Edit', edit_product_path(@product), class: "float-right" %>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4>Product Info</h4>
        <%= image_tag(@product.photo_url, width: '120', alt: "Edit Entry") %>
        <p>
          <strong>Asin:</strong>
          <%= @product.asin %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <p>
          <strong>Main Keyword:</strong>
          <%= @product.main_keyword %>
        </p>
        <p>
          <strong>Main Category:</strong>
          <%= @product.main_category %>
        </p>
        <p>
          <strong>Dimension:</strong>
          <%= @product.dimension %>
        </p>
        <p>
          <strong>Weight kg:</strong>
          <%= @product.weight_kg %>
        </p>
        <p>
          <strong>Amazon Shipping Size:</strong>
          <%= @product.amz_size %>
        </p>
        <p>
          <strong>Avg Price:</strong>
          <%= @product.comp_price %>
        </p>
        <p>
          <strong>Avg Sales:</strong>
          <%= @product.comp_sales %>
        </p>
        <p>
          <strong>Rating:</strong>
          <%= @product.comp_rating %>
        </p>
        <p>
          <strong>Review Count:</strong>
          <%= @product.comp_review_count %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4>Selection Rules</h4>
        <% SelectionStandard.all.each do |ss| %>
          <%= check_box_tag "product[selection_standard_ids][]", ss.id, @product.selection_standard_ids.include?(ss.id), disabled: true %>
          <%= ss.name %><br/>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h4>Demand Verification</h4>
      </div>
    </div>
  </div>
</div>
