<div class="row">
  <div class="col-md-6">
    <%= link_to 'Back', products_path %>
  </div>
  <div class="col-md-6 ">
    <%= link_to 'Edit', edit_product_path(@product), class: "float-right" %>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <a href='#' class="float-right" data-toggle="modal" data-target=".product-info-modal-xl">Edit</a>
        <h4>Product Info</h4>
        <%= link_to image_tag(@product.photo_url, width: '120', alt: "Edit Entry"), "https://amazon.in/dp/#{@product.asin}", target: :blank  %>
        <p>
          <strong>Asin:</strong>
          <%= link_to @product.asin, "https://members.helium10.com/cerebro/reverse-search?accountId=1543160121&asin=#{@product.asin}&amazonstore=in&searchType=organic&exactAsin=1", target: :blank %>
        </p>
        <p>
          <strong>Stage:</strong>
          <%= @product.stage %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>
        <p>
          <strong>Main Keyword:</strong>
          <%= @product.main_keyword %>
        </p>
        <p>
          <strong>Main Category:</strong>
          <%= @product.main_category %>
        </p>
        <p>
          <strong>HSN:</strong>
          <%= @product.hsn %>
        </p>
        <p>
          <strong>Country of Origin:</strong>
          <%= @product.country_of_origin %>
        </p>
        <p>
          <strong>Dimension:</strong>
          <%= @product.dimension %>
        </p>
        <p>
          <strong>Weight kg:</strong>
          <%= @product.weight_kg %>
        </p>
        <p>
          <strong>Amazon Shipping Size:</strong>
          <%= @product.amz_size %>
        </p>
        <p>
          <strong>Avg Price:</strong>
          <%= @product.comp_price %>
        </p>
        <p>
          <strong>Fba Fee:</strong>
          <%= @product.comp_fba_fees %>
        </p>
        <p>
          <strong>Avg Sales:</strong>
          <%= @product.comp_sales %>
        </p>
        <p>
          <strong>Avg Revenue:</strong>
          <%= number_with_precision(@product.comp_revenue , :precision => 1, :delimiter => ',')%>
        </p>
        <p>
          <strong>Rating:</strong>
          <%= @product.comp_rating %>
        </p>
        <p>
          <strong>Review Count:</strong>
          <%= @product.comp_review_count %>
        </p>
        <p>
          <strong>Comment:</strong>
          <%= @product.comments %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <a href='#' class="float-right" data-toggle="modal" data-target=".selection-rules-modal-xl">Edit</a>
            <h4>Selection Rules</h4>
            <span></span><p></p>
            <% SelectionStandard.where(filter_type: 0).each do |ss| %>
              <%= check_box_tag "product[selection_standard_ids][]", ss.id, @product.selection_standard_ids.include?(ss.id), disabled: true %>
              <%= ss.name %><br/>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4>Selection Score</h4>
            <h1 class='text-md-center text-info'><p></p><p></p>
              <%= @product.selection_standards.where(filter_type: 1).count.to_s + " / " + SelectionStandard.where(filter_type: 1).count.to_s %>
            </h1>
            <br>
            <p class='text-md-center text-black-50 float-right'><%= (@product.selection_standards.where(filter_type: 1).count / SelectionStandard.where(filter_type: 1).count.to_f).to_d.round(2, :truncate).to_f %></p>
            <p class='text-md-center text-black-50 float-left'><%= @product.potential %></p>

          </div>
        </div>
      </div>
      <div class="col-md-12"></br>
        <div class="card">
          <div class="card-body">
            <a href='#' class="float-right" data-toggle="modal" data-target=".market-demand-modal-xl">Edit</a>
            <h4>Market Demand Evaluation</h4><br>
            <% SelectionStandard.where(filter_type: 1).each do |ss| %>
              <div class="form-check form-check-inline">
                <%= check_box_tag "product[selection_standard_ids][]", ss.id, @product.selection_standard_ids.include?(ss.id), disabled: true, class: 'form-check-input' %>
                <label class="form-check-label <%= @product.selection_standard_ids.include?(ss.id) ? "text-success" : "text-warning" %>" for="inlineCheckbox1"><%= ss.name %></label>
                <br/>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12"></br>
        <div class="card">
          <div class="card-body">
            <a href='#' class="float-right" data-toggle="modal" data-target=".keyword-volume-modal-xl">Edit</a>
            <h4>Top Keywords</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Phrase</th>
                  <th>Volume</th>
                </tr>
              </thead>

              <tbody>
                <% @product.keywords.each do |keyword| %>
                  <tr>
                    <td><%= link_to keyword.phrase, "https://www.amazon.in/s?k=#{keyword.phrase.gsub(/\s/, '+')}", target: :blank %></td>
                    <td><%= link_to link_to number_with_precision(keyword.volume , :precision => 0, :delimiter => ','), "https://members.helium10.com/magnet2/reverse-search?accountId=1543160121&keyword=#{keyword.phrase.gsub(/\s/, '%20')}&amazonstore=in", target: :blank %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-12"></br>
        <div class="card">
          <div class="card-body">
            <h4>Gold Filters</h4><br>
            <strong>Other Factors</strong>
            <ul>
              <li>Your product quality needs to be good no matter what.</li>
              <li>You must differentiate; you can’t just duplicate an existing product with your logo.</li>
              <li>Listing must be optimized.</li>
              <li>X-Ray: 2 stars or higher is worth looking at; 4 stars or higher is extremely rare.</li>
            </ul>
            <br>
            <strong>Main Filters</strong>
            <ol>
              <li>Sort by unit sales; take top ASIN and plug into Cerebro.
                <ul>
                  <li>At least 3 keywords with more than 5ksearches (see screen for info).
                  <li>At least 10 keywords ranking on page 1.</li>
                  <li>Indicates several potential angles.</li>
                </ul>
              </li>
              <li>Net profit 30% or more; aim for retail price 4-5x cost of manufacturing; avoid retail price below $15. Too much competition under $15. ROI >100% (ideally 150%) is best. Compounding is the key to rapid growth. Higher priced item generally means higher ROI. Item turnover is ideally at least 4x a year. Order every 2-3 months. If it takes too long to sell through, this hurts your inventory health.</li>
              <li>Review manipulation?
                <ul>
                  <li>Did they start with a low number of reviews? If not, they may be a listing takeover.</li>
                  <li>Watch out for sudden drops/disappearances of reviews (means Amazon removed them - possibility of unfair manipulation).</li>
                  <li>Be cautious of spikes in review history</li>
                </ul>
              </li>
              <li>Can you differentiate the product or fix customer complaints?
                <ul>
                  <li>If the product isn’t easy to find on Alibaba, this is good.</li>
                  <li>Good if similar products aren’t on deal/rebate sites.</li>
                  <li>Items sourced from outside China eliminate a lot of the competition.</li>
                  <li>2+ of top 16 selling 2x your initial investment for the past 3 months is a good sign - this shows growth potential.</li>
                  <li>Use the profitability tool and shrink product dimensions to lower FBA size bracket and save fulfillment costs.</li>
                  <li>Are any top products FBM that you can sell as FBA?</li>
                </ul>
              </li>
              <li>For Brand Registry:
                <ul>
                  <li>Are there 10+ keywords under 1 million in the Search Frequency Rating?</li>
                  <li>Do any of the top 3 clickshares have 0% conversion share?</li>
                    <ul>
                      <li>This indicates manipulation if so.</li>
                      <li>Does one of the 3 dominate? If so, it’ll be difficult to compete.</li>
                    </ul>
                </ul>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- #Selection rules form -->
<!-- Extra large modal -->

<div class="modal selection-rules-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Product Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= render 'products/forms/selection.html.erb', product: @product %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- #Product Info form (calculate comp roi) -->
<div class="modal product-info-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Product Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= render 'products/forms/product_info.html.erb', product: @product %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- #Market Demand Evaluation form -->
<div class="modal market-demand-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Product Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= render 'products/forms/market_demand.html.erb', product: @product %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- #Add keyword form (with upload csv) -->
<div class="modal keyword-volume-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Edit Product Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <%= render 'keywords/form', keyword: Keyword.new, product: @product %>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- #ROI calculation form (sample roi) (abstact to a seperate table) -->
<div class="modal market-demand-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      ROI CALCULATIONS
    </div>
  </div>
</div>
