<!DOCTYPE html>
<html>
<head>
<title><%= yield_or_default :title, action_name.titlecase %>

</title>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
<meta name="description" />

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= yield :head %>

<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- <link href="/manifest.json" rel="manifest" /> -->
<met name="Rails 6 Starter App" />
<meta content="#e00000" name="theme-color" />

<link href="launcher-icon-180.png" rel="apple-touch-icon" sizes="180x180" />


<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="main-container container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
